
@using OnlineShoeKing.Models.ViewModels

@{
    var breadCrumb = (BreadCrumbVm)TempData["breadCrumb"];
}



<div id="ControlNavigationId">
    <script type="text/javascript">
        document.title = 'Profile | Shoe King';
        window.history.pushState(
            null,
            null,
            '/Admin/Customers/Profile?email=@TempData["profileEmail"]'
        );
    </script>


    <div class="pag-nav">
        <ul class="p-list">
            @if (breadCrumb != null)
            {
                if (breadCrumb.Controller != null)
                {
                    <li><a href="@breadCrumb.Controller" onclick="breadCrumb('@breadCrumb.ControllerPartial'); return false;">@breadCrumb.ControllerName</a></li>
                    <li>
                        &nbsp;/&nbsp;
                    </li>
                }
                if (breadCrumb.ActionName != null)
                {
                    <li class="act">@breadCrumb.ActionName</li>
                }
            }
        </ul>
    </div>

    <!---start-product-details--->
    <div class="profile-panel">
        <div class="profile-header">
    
                <img align="left" class="image-lg" src="@TempData["profileCover"]" alt="@OnlineShoeKing.Resources.Language.CoverImage" title="@OnlineShoeKing.Resources.Language.CoverImage" />

                <img align="left" class="image-profile thumbnail customer-profile" src="@TempData["profilePhoto"]" alt="@OnlineShoeKing.Resources.Language.ProfileImage" title="@OnlineShoeKing.Resources.Language.ProfileImage" />

            <div class="profile-text">
                <h1>
                    @if ((TempData["profileFirstName"] is string) && (TempData["profileLastName"] is string))
                    {
                        @TempData["profileFirstName"] <span> </span> @TempData["profileLastName"]
                    }
                    else
                    {
                        <span>...</span>
                    }
                </h1>
            </div>
        </div>
      
        <div>
            <div class="profile-buttons">
                <a href="/Admin/Customers/Profile?email=@TempData["profileEmail"]"><input type="submit" class="btn profile-button" value="@OnlineShoeKing.Resources.Language.OverviewTitle" /></a>
                <a href="/Admin/Customers/Profile?email=@TempData["profileEmail"]"><input type="submit" class="btn profile-photos" value="@OnlineShoeKing.Resources.Language.PhotosTitle" /></a>
                @if (User.IsInRole("Founder"))
                {
                    <a href="/Founder/Customers/Modify?email=@TempData["profileEmail"]"><input type="submit" class="btn modify-button" value="@OnlineShoeKing.Resources.Language.ModifyTitle" /></a>
                    <input type="submit" class="btn delete-account-button" value="@OnlineShoeKing.Resources.Language.DeleteBtn" />
                }
                <input type="submit" class="btn profile-chat" value="@OnlineShoeKing.Resources.Language.Chat" />
            </div>
            
            @if (!(bool)TempData["profileStatus"])
            {
                <div class="private-customer-profile">
                    @OnlineShoeKing.Resources.Language.IsHided
                </div>
            }
            else
            {
                <div class="profileInfo">
                        <div class="panel-headingOverview">
                            <h4>@OnlineShoeKing.Resources.Language.BasicInfoTitle</h4>
                        </div>
                        <div class="panel-bodyOverview">
                            <div class="col-sm-5 col-xs-12">@OnlineShoeKing.Resources.Language.EmailTitle:</div>
                            <div class="col-sm-7">
                                @if (TempData["profileEmail"] is string)
                                {
                                    @TempData["profileEmail"]
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-12">
                                @OnlineShoeKing.Resources.Language.FirstNameTitle:
                            </div>
                            <div class="col-sm-7">
                                @if (TempData["profileFirstName"] is string)
                                {
                                    @TempData["profileFirstName"]
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-12">@OnlineShoeKing.Resources.Language.LastNameTitle:</div>
                            <div class="col-sm-7">
                                @if (TempData["profileLastName"] is string)
                                {
                                    @TempData["profileLastName"]
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-12">@OnlineShoeKing.Resources.Language.DateOfJoiningTitle:</div>
                            <div class="col-sm-7">
                                @if (TempData["profileCreationDate"] is string)
                                {
                                    @TempData["profileCreationDate"]
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-12">@OnlineShoeKing.Resources.Language.GenderTitle:</div>
                            <div class="col-sm-7">
                                @if (TempData["profileGender"] is string)
                                {
                                    @TempData["profileGender"]
                                }
                                else
                                {
                                    <span>...</span>
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>
                            <div class="col-sm-5 col-xs-12">@OnlineShoeKing.Resources.Language.PhotoCountTitle:</div>
                            <div class="col-sm-7">
                                @if (TempData["profilePictureCount"] != null)
                                {
                                    @TempData["profilePictureCount"]
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </div>
                        </div>

                    <div id="purchased-products-user"></div>

                    </div>
            }
            
        </div>

    </div>
</div>

<script>
    $(function () {

        $('.profile-button').on('click',
            function (e) {
                e.preventDefault();
                $.get('/Admin/Customers/IndexProfile', { email: '@TempData["profileEmail"]' },
                    function (data) {
                        $('#ControlNavigationId').html(data);
                    });
            });

        $('.profile-photos').on('click',
            function (e) {
                e.preventDefault();
                $.post('/Admin/Customers/PhotosProfile', { email: '@TempData["profileEmail"]' },
                    function (data) {
                        $('#ControlNavigationId').html(data);
                    });
            });

        $('.modify-button').on('click',
            function (e) {
                e.preventDefault();
                $.post('/Founder/Customers/ModifyAccount', { email: '@TempData["profileEmail"]' },
                    function (data) {
                        $('#ControlNavigationId').html(data);
                    });
            });

        $('.delete-account-button').on('click',
            function () {
                if (confirm('Do you want to delete this account?')) {
                    $.post('/Founder/Customers/DeleteCustomer', { email: '@TempData["profileEmail"]' },
                        function (data) {
                            const win = $("<div>").kendoWindow({
                                modal: true,
                                open: function (e) { $(this.element).closest(".k-window").css("position", "fixed") },
                                position: {
                                    top: "40%",
                                    left: "45%"
                                }
                            }).getKendoWindow();

                            $('div.k-widget.k-window').addClass("resizeCart");
                            $('div.k-widget.k-window').removeClass("resizeLogin");

                            $('body').css('overflow', 'hidden');

                            // set the content
                            win.content('The account was deleted.');
                            // center it and open it
                            win.open();

                            $('#ControlNavigationId').html(data);
                        });
                }
            });

        $('.profile-chat').on('click', function () {
            notificationsHub.server.sendCustomerChat('@TempData["profileEmail"]');
        });

        $.post('/Admin/Products/UserProducts', function (data) {
            $('#purchased-products-user').html(data);
        });
    });
</script>
