<!DOCTYPE html>
<html>
<head>
    
    @Html.Partial("~/Views/Shared/Partials/_HeaderPartial.cshtml")

</head>
<body>
    
<!--Body's header-->
@Html.Partial("~/Views/Shared/Partials/_HeaderBodyPartial.cshtml")

    
    <div class="container">
        <section id="main">
            <div class="content" >
                
                <!--Controller's views-->
                @RenderBody()
                
                <!--Body's footer-->
                @Html.Partial("~/Views/Shared/Partials/_FooterBodyPartial.cshtml")

            </div>
        </section>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
