@model OnlineShoeShopAndChat.Models.ChangePasswordViewModel


<div id="ControlNavigationId">
    <div class="container">
        <script type="text/javascript">
            document.title = 'Change Password';
            window.history.pushState(
                null,
                null,
                '/Admin/Manage/ChangePassword'
                );
        </script>

        <br /><br />

        <h2 class="text-center" style="color:#ffffff">@OnlineShoeShopAndChat.Resources.Language.ChangePasswordTitle</h2>

        <br /><br />

        <div class="col-xs-12 col-sm-6 col-md-6 panel panel-default">
            <div class="panel-body">

                @using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions()
                {
                    UpdateTargetId = "ControlNavigationId",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post"
                },
                    new { @class = "form-horizontal", role = "form" }))
                {
                @Html.AntiForgeryToken()
                    <hr />
                    <div class="text-center text-danger">
                        @ViewBag.Status
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-sm-4 col-md-4 control-label">@OnlineShoeShopAndChat.Resources.Language.OldPasswordTitle:</div>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col-xs-8 col-sm-8 col-md-8" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-sm-4 col-md-4 control-label">@OnlineShoeShopAndChat.Resources.Language.NewPasswordTitle:</div>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-xs-8 col-sm-8 col-md-8" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4 col-sm-4 col-md-4 control-label">@OnlineShoeShopAndChat.Resources.Language.ConfirmPasswordTitle:</div>
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-xs-8 col-sm-8 col-md-8" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <input type="submit" value="@OnlineShoeShopAndChat.Resources.Language.SaveBtn" class="btn btn-success btn-lg" />
                            @Ajax.ActionLink(OnlineShoeShopAndChat.Resources.Language.BackTitle, "IndexPartialManage", "Manage",
                                new AjaxOptions
                                {
                                    UpdateTargetId = "ControlNavigationId",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "Get"
                                },
                                new { @class = "btn btn-warning btn-lg" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('#ulControlNavigationId li').removeClass('active');
</script>
